<dt>
  <%= @category.meta.wikiname.gsub("_"," ") %>
</dt>
<dd>
  <div class='tellmemore'><%= link_to "More info", "http://discover.amee.com/categories/#{@category.meta.wikiname}" %></div>
  <div class='amount'>
    <% if @pi -%>
      = <%= @pi.total_amount %>kg
    <% else -%>
      There wasn't enough information to do a calculation here. Click More Info for more calculation options
    <% end -%>
  </div>
  <div class='details'>
    <% if @item && @ivd -%>
      Item <span class='item'>"<%= @item.label %>"</span>, input parameter <span class='inputname'>"<%= @ivd.name%>"</span>
    <% end -%>
  </div>
</dd>
<% unless session[:categories].empty? %>
  <%= render :partial => 'thinking'%>
<% end %>
