<% if @pi -%>
  <div class="row">
    <div class="span16 total">
      <h3>
        <% if @pi.total_amount.to_f > 0.0 %>
          <% amount = @pi.amounts.find{|x| x[:default] == true}%>
          <%= number_with_precision amount[:value], :precision => 2, :delimiter => ',' %>
          <%= amount[:unit] %> of 
          <%= amount[:type] %>
        <% else %>
          More information needed
        <% end %>
      </h3>
    </div>
    <div class="span2">
      <%= link_to "More info", 
                  discover_url(@category, @pi),
                  :class => 'btn primary' %>
    </div>
  </div>
  <div class="row">
    <div class="span14">
      <blockquote> 
        <% if @pi.total_amount.to_f > 0.0 %>
          <p>
            based on '<%= @ivd.name.downcase %>' being <%= @quantity %>
          </p>
          <p>
            using the item '<%= @item.label %>' 
          </p>
          <p>
            from the category 
            <%= link_to @category.meta.wikiname.gsub("_"," "), "http://discover.amee.com/categories/#{@category.meta.wikiname}" %>.
          </p>
        <% else %>
          <p>
            The category 
            <%= link_to @category.meta.wikiname.gsub("_"," "), "http://discover.amee.com/categories/#{@category.meta.wikiname}" %>
            looks relevant, but needs a bit more information to give you an answer.
          </p>
          <p>
            Click 'more info' to dig deeper.
          </p>
        <% end %>
      </blockquote>
    </div>
    
  </div>
<% end %>
<% unless session[:categories].empty? %>
  <%= render :partial => 'thinking'%>
<% end %>
<% if session[:categories].empty? && session[:got_result].nil? %>
  <%= render :partial => 'no_results'%>
<% end %>
