<p>
  You asked: <em>"<%= params[:question][:q]%>"</em>
</p>
<p>
  I'm going to look for things related to <%= @terms.map{|x| "<strong>#{h(x)}</strong>"}.join(' and ').html_safe %> that have <%= @quantities.map{|x| "<strong>#{x.to_s}</strong>"}.join(' and ').html_safe %> as inputs.
</p>
<p>
  Here are a few categories that look relevant:
  <ul>
    <% @categories.each do |x| %>
      <li><%= x[0].meta.wikiname %> <%= x[1].label %></li>
    <% end %>
  </ul>
</p>