<% valid = !@categories.empty? && !@quantities.empty? && !@terms.empty? %>
<div class='hero-unit' style='padding-bottom: 10px;'>
  <%= render :partial => 'ask'%>
  <!-- AddThis Button BEGIN -->
  <div class="addthis_toolbox addthis_default_style addthis_32x32_style" style='margin-top:50px; width:200px; margin-left: auto; margin-right: auto'>
  <a class="addthis_button_preferred_1"></a>
  <a class="addthis_button_preferred_2"></a>
  <a class="addthis_button_preferred_3"></a>
  <a class="addthis_button_preferred_4"></a>
  <a class="addthis_button_compact"></a>
  </div>
  <script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=xa-4f2bac3f00668293"></script>
  <!-- AddThis Button END -->
</div>
<% if valid %>
  <div class='alert-message info'>
    OK, I'm going to look for things related to 
    <%= @terms.map{|x| "<strong>#{h(x)}</strong>"}.join(' and ').html_safe %>
    that have <%= @quantities.map{|x| "<strong>#{x.to_s}</strong>"}.join(' and ').html_safe %>
    as inputs.
  </div>
<% end %>
<div class='row'>
	<div class="container span11" id="answerlist">
		<div style='height: 1px'>&nbsp;</div>
	</div>
	<div class="container span5">
		<div class='alert-message block-message info' style='display:none' id='more_info_container'>
		    <h3>
		      More information needed
		    </h3>
			These categories look relevant, but need a bit more information to give you an answer:
			<ul id="more_info_list">
			</ul>
		</div>
		<div class='alert-message block-message info' style='display:none' id='wrong_dimension_container'>
		    <h3>
		      Couldn't match input units
		    </h3>
			These categories look relevant, but don't have any inputs of the right type:
			<ul id="wrong_dimension_list">
			</ul>
		</div>		
		<div class='alert-message block-message info' style='display:none' id='private_container'>
		    <h3>
		      Premium datasets
		    </h3>
			These categories look relevant, but are part of non-free datasets. Contact AMEE for more details:
			<ul id="more_info_list">
			</ul>
		</div>
	</div>
</div>
<% if valid %>
  <script>
    var responsesLeft = <%= @categories.size %>;
	var gotResult = false;
	<% @categories.each do |cat| %>
      loadDetail('<%= cat %>', '<%= @quantities.map{|x| x.to_s}.join(',') %>', '<%= @terms.join(',') %>');
    <% end %>
  </script>
  <%= render :partial => 'thinking'%>
<% else %>
  <%= render :partial => 'no_results'%>
<% end %>
