<div class="hero-unit">
  <h1>Ask AMEE</h1>
  <p>
    This is an experiment in making it quicker to get what you want from AMEE.
  </p>
  <p>
    Got a question for AMEE? Ask away! Try things like 
    <%= link_to "10kg of beef", "answer?q=10kg+of+beef" %>,
    <%= link_to "42kWh of electricity in the UK", "answer?q=42kWh+of+electricity+in+the+UK" %>,
    <%= link_to "fly 100t of cargo 1000km", "answer?q=fly+100t+of+cargo+1000km" %>, or
	<%= link_to "fly from LHR to LAX", "answer?q=fly+from+LHR+to+LAX"%>.
  </p>
  <%= render :partial => 'ask'%>
</div>
