<!DOCTYPE html>
<html>
  <head>
    <title>Ask AMEE</title>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class='body'>

      <div class='content'>
        <%= yield %>
      </div>

      <div class='footer'>
        <%= image_tag 'PoweredByAMEE.png' %>
        <div class='clear'></div>
      </div>
  </div>
</body>
</html>
