<!DOCTYPE html>
<html>
  <head>
    <title>AMEElabs: Ask AMEE</title>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    
    <link rel="apple-touch-icon" href=<%= asset_path 'AMEE-icon.png' %>  />

  </head>
  <body>
    <%= render :partial => 'layouts/ameelabs_header' %>

    <div class='container'>

      <div class='content'>
        <%= yield %>
      </div>

      <footer>
        <%= link_to image_tag('PoweredByAMEE.png'), 'http://www.amee.com' %>
      </footer>
  </div>
</body>
</html>
